.App {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  background-color: #061253;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 1px;
}
.App > div {
  height: 100%;
}

.left-panel {
  flex: 2 1 0;
}

.mapContainer {
  height: calc(100% - 200px);
}

.middle-panel {
  flex: 1 1 0;
}

.right-panel {
  flex: 1 1 0;
}

h4 {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 0;
  margin-top: 10px;
}
